#content
	%h1 The Home Page
	%p
		Thank you for visiting the homepage for STORMHOLD, the Storm Family home website. 
	%p
		From this page you can access the lights, thermostat, webcams, and other systems in the house.
