.c1 {
  background-color: #f1f0f5; }

.c2 {
  background-color: #e8e8eb; }

.c3 {
  background-color: #d0d0d4; }

.c4 {
  background-color: #25558f; }

.c5 {
  background-color: #233c61; }

.c6 {
  background-color: #ebdace; }

#wrapper {
  width: 1024px;
  margin: auto; }

#header {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 8px 8px 8px 8px;
  background-color: #233c61;
  color: #f1f0f5;
  text-align: center;
  font-family: Verdana; }

#header > h1 {
  font-size: 200%; }

h2 {
  font-size: 130%; }

#content {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 8px 8px 8px 8px;
  float: left;
  background-color: #ebdace;
  margin: 10px;
  min-height: 200px;
  font-family: Verdana; }

#side_bar {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 8px 8px 8px 8px;
  margin: 12px 0;
  width: 20%;
  float: left;
  clear: none;
  color: #f1f0f5;
  background-color: #25558f;
  min-height: 200px;
  font-family: Verdana; }

h1 {
  font-size: 150%; }

#footer {
  clear: both;
  background-color: #233c61;
  color: #f1f0f5;
  font-size: 75%;
  font-family: sans-serif;
  border-top: solid 1px #69a;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 8px 8px 8px 8px;
  font-family: Verdana; }

ol {
  padding-top: 20px;
  display: block; }

li {
  color: white;
  text-align: left;
  /*display: inline */
  padding: 5px 10px 0 10px;
  /*margin-left: 4px */
  /*margin-right: 10px */ }

a {
  text-decoration: none;
  color: DarkGray; }

a:visited {
  background-color: #d0d0d4; }

#test {
  border: solid 1px black; }

.makered {
  color: red; }

.makeblue {
  color: blue; }

.reset {
  color: black; }
